body {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 26px;
  background-color: #fcf7ee
}

.outer {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.info {
  border: 3px double black;
  background-color: white;
  width: 50%;
  padding: 5%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner {
  display: flex;
}

.column {
  margin: 10px;
  flex: 50%;
}

@media (max-width:850px) {
.inner {
  flex-direction: column;
}
}

.column img {
  border: 2px solid black;
}
