body {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 14px;
}

.outer {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 50%;
  border: 3px double black;
  padding: 5%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.column {
  margin: 10px;
  flex: 50%;
}

@media (max-width:850px) {
.inner {
  flex-direction: column;
}
}

.column img {
  border: 2px solid black;
}
