body {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 26px;
  background-color: #fcf7ee
}

.outer {
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.info {
  border: 3px double black;
  background-color: white;
  width: 50%;
  padding: 5%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner {
  display: flex;
}

.column {
  flex: 50%;
}

img {
  border: 3px double black;
}

@media (max-width:992px) {
.inner {
  flex-direction: column;
}
.info {
  width: 80%;
}
.column {
    font-size: 24px;
}
}
